<!DOCTYPE html>
<html>
<head>
    <% include blocks/indexHead.ejs%>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<% include blocks/navbar.ejs%>
<div>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Мои презентации</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="presentation-list">
        <table style="height: 50px;">
            <tbody>
            <tr>
                <td class="align-baseline"></td>
            </tr>
            </tbody>
        </table>
        <!--From top and bottom-->
        <div class="row presentations">
            <div class="col-lg-4">
                <div class="ih-item square effect6 from_top_and_bottom">
                    <a href="http://borolis.party:8080/slide">
                        <div class="img"><img src="upload/plus.png" alt="img"></div>
                    </a>
                </div>
            </div>

        </div>
        <!--end From top and bottom-->
        <table style="height: 50px;">
            <tbody>
            <tr>
                <td class="align-baseline"></td>
            </tr>
            </tbody>
        </table>
        <!--From top and bottom-->
    </div>
</div>
</body>
</html>