
<!DOCTYPE html>
<html>

  <head>
    <% include blocks/slideHead.ejs%>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">


    <% include blocks/navbar.ejs%>

    <br>
    <br>

    <div class="pagespan container">

      <div class="wrap">
        <h2>Слайды</h2>

        <div class="scrollbar">
          <div class="handle">
            <div class="mousearea"></div>
          </div>
        </div>

        <div class="frame" id="centered">
          <ul class="clearfix slider-items">

          </ul>
        </div>

        <div class="controls center">
          <button class="btn prev"><i class="icon-chevron-left"></i> prev</button>
          <button class="btn next">next <i class="icon-chevron-right"></i></button>
        </div>
      </div>


    </div>

    <div class="container-fluid">
              <div class="row">
                <div class="col-lg-5">
                  <div class="container-fluid" style="background-color: #F8F8FF">
                    <form method="POST">
                      <div class="form-group">
                        <center><label for="textEditor">Текст элемента</label></center>
                        <textarea class="form-control" rows="5" id="textEditor" name="textEditor"></textarea>

                        <a class="btn btn-primary text-center my-2 mx-auto" id="btnSave" href="#" role="button">Скачать презентацию</a>
                        <a class="btn btn-success text-center my-2 mx-auto" id="btnAddLayer" href="#" role="button"> Добавить слой</a>

                      </div>
                    </form>



                  </div>
                </div>

                <div id="slide" class="col-lg-6">

                  <div class="container-fluid draggable">
                    <h1 style="text-align: center;">Default Title</h1>
                  </div>

                  <div class="container-fluid draggable">
                    <div style="text-align: center;"><span style="font-size: 1rem;">съешь еще этих мягких французских булок да выпей чаю</span></div>
                  </div>

                  <div class="container-fluid draggable">
                    <div style="text-align: center;"><span>Text</span></div>
                  </div>

                </div>
              </div>
      </div>





  </body>

</html>
