<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Presentation Maker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-user"><a href="#" onclick="return false"><%=username%></a></li>
                <li class="navbar-exit"><a href="/logout" onclick="return true">Выйти  <i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>